<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src="/images/592x333.png" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">Box Office News!</h1>
      <p class="py-6">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
        excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
        id nisi.
      </p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
{{ $s := slice "0" "1" "2" "3" "4" "5" }}
<div class="grid grid-cols-12 justify-content-start gap-x-7 gap-y-9 mt-8 p-8">
  {{ range $s }}
  <div class="col-span-12 md:col-span-4">
    {{ partial "cardp/cardp.html" . }}
  </div>
  {{ end }}
</div>
