<footer class="p-10 footer bg-primary text-neutral-content rounded mt-10">
    <nav>
      <h6 class="footer-title">Services</h6> 
      <button class="link link-hover">Branding</button>
      <button class="link link-hover">Design</button>
      <button class="link link-hover">Marketing</button>
      <button class="link link-hover">Advertisement</button>
    </nav> 
    <nav>
      <h6 class="footer-title">Company</h6> 
      <button class="link link-hover">About us</button>
      <button class="link link-hover">Contact</button>
      <button class="link link-hover">Jobs</button>
      <button class="link link-hover">Press kit</button>
    </nav> 
    <nav>
      <h6 class="footer-title">Legal</h6> 
      <button class="link link-hover">Terms of use</button>
      <button class="link link-hover">Privacy policy</button>
      <button class="link link-hover">Cookie policy</button>
    </nav>
  </footer>